{{template "_header" .}}
<!--content-->
<div class="container">
    <div class="row padding-block">
        <div class="col-6 offset-3 col-md-4 offset-md-4 text-center">
            <img class="square" src="./img/headshot.png" style="max-width: 280px; margin: 0 auto"/>
        </div>
    </div>

    <!--autobiography-->
    <div class="row padding-block">
        <div class="col-12">
            <div class="text-center"><h2>Recent</h2></div>
            {{range .RecentAutobiography}}
            <blockquote class="blockquote">
                &emsp;&emsp;{{.}}
            </blockquote>
            {{end}}
        </div>
        <div class="col-12" style="margin-top: 80px;">
            <div class="text-center"><h2>Past</h2></div>
            {{range .PastAutobiography}}
            <blockquote class="blockquote">
                &emsp;&emsp;{{.}}
            </blockquote>
            {{end}}
        </div>
        <div class="col-12" style="margin-top: 80px;">
            <div class="text-center"><h2>Academic</h2></div>
            {{range .AcademicAutobiography}}
            <blockquote class="blockquote">
                &emsp;&emsp;{{.}}
            </blockquote>
            {{end}}
        </div>
    </div>
</div>
{{template "_footer" .}}
