{{template "_header" .}}
<!--jumbotron image-->
<div class="index-image">
    <div class="upper-shadow"></div>
    <img src="./img/index.jpg" class="img-fluid">
    <div class="lower-shadow"></div>
</div>

<!--content-->
<div class="container">

    <!--autobiography-->
    <div class="row padding-block">
        <div class="col-12">
            <div class="text-center"><h2>Autobiography</h2></div>
            {{range .Autobiography}}
            <blockquote class="blockquote">
                {{.}}
            </blockquote>
            {{end}}
        </div>
    </div>
    <hr>

    <!--project-->
    <div class="row padding-block">
        <div class="col-12">
            <div class="text-center"><h2>Project</h2></div>
        </div>
        <div class="col-6 col-md-3 project">
            <img class="img-fluid" src="./img/project (3).jpg"/>
            <div class="hover-div justify-content-center">
                <div class="text-center"><h4>Riko</h4></div>
                <p>
                    Aqours的隊員，同時為分隊「Guilty Kiss」的隊員。應援色是櫻花色。
                </p>
            </div>
        </div>
        <div class="col-6 col-md-3 project">
            <img class="img-fluid" src="./img/project (3).jpg"/>
            <div class="hover-div justify-content-center">
                <div class="text-center"><h4>Riko</h4></div>
                <p>
                    Aqours的隊員，同時為分隊「Guilty Kiss」的隊員。應援色是櫻花色。
                </p>
            </div>
        </div>
        <div class="col-6 col-md-3 project">
            <img class="img-fluid" src="./img/project (3).jpg"/>
            <div class="hover-div justify-content-center">
                <div class="text-center"><h4>Riko</h4></div>
                <p>
                    Aqours的隊員，同時為分隊「Guilty Kiss」的隊員。應援色是櫻花色。
                </p>
            </div>
        </div>
        <div class="col-6 col-md-3 project">
            <img class="img-fluid" src="./img/project (3).jpg"/>
            <div class="hover-div justify-content-center">
                <div class="text-center"><h4>Riko</h4></div>
                <p>
                    Aqours的隊員，同時為分隊「Guilty Kiss」的隊員。應援色是櫻花色。
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <hr><div class="text-center more-button"></div><hr>
    </div>

    <!--research-->
    <div class="row padding-block">
        <div class="col-12">
            <div class="text-center"><h2>Research</h2></div>
        </div>
        <div class="col-6 col-md-3 project">
            <img class="img-fluid" src="./img/project (3).jpg"/>
            <div class="hover-div justify-content-center">
                <div class="text-center"><h4>Riko</h4></div>
                <p>
                    Aqours的隊員，同時為分隊「Guilty Kiss」的隊員。應援色是櫻花色。
                </p>
            </div>
        </div>
        <div class="col-6 col-md-3 project">
            <img class="img-fluid" src="./img/project (3).jpg"/>
            <div class="hover-div justify-content-center">
                <div class="text-center"><h4>Riko</h4></div>
                <p>
                    Aqours的隊員，同時為分隊「Guilty Kiss」的隊員。應援色是櫻花色。
                </p>
            </div>
        </div>
        <div class="col-6 col-md-3 project">
            <img class="img-fluid" src="./img/project (3).jpg"/>
            <div class="hover-div justify-content-center">
                <div class="text-center"><h4>Riko</h4></div>
                <p>
                    Aqours的隊員，同時為分隊「Guilty Kiss」的隊員。應援色是櫻花色。
                </p>
            </div>
        </div>
        <div class="col-6 col-md-3 project">
            <img class="img-fluid" src="./img/project (3).jpg"/>
            <div class="hover-div justify-content-center">
                <div class="text-center"><h4>Riko</h4></div>
                <p>
                    Aqours的隊員，同時為分隊「Guilty Kiss」的隊員。應援色是櫻花色。
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <hr><div class="text-center more-button"></div><hr>
    </div>

    <!--skill-->
    <div class="row padding-block">
        <div class="col-12">
            <div class="text-center"><h2>Skill</h2></div>
        </div>
        <div class="col-6 col-md-3 project">
            <img class="img-fluid square" src="./img/s.gif"/>
            <div class="hover-div justify-content-center">
                <div class="text-center"><h4>Riko</h4></div>
            </div>
        </div>
        <div class="col-6 col-md-3 project">
            <img class="img-fluid square" src="./img/s.gif"/>
            <div class="hover-div justify-content-center">
                <div class="text-center"><h4>Riko</h4></div>
            </div>
        </div>
        <div class="col-6 col-md-3 project">
            <img class="img-fluid square" src="./img/s.gif"/>
            <div class="hover-div justify-content-center">
                <div class="text-center"><h4>Riko</h4></div>
            </div>
        </div>
        <div class="col-6 col-md-3 project">
            <img class="img-fluid square" src="./img/s.gif"/>
            <div class="hover-div justify-content-center">
                <div class="text-center"><h4>Riko</h4></div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <hr><div class="text-center more-button"></div><hr>
    </div>
</div>
{{template "_footer" .}}
