{{template "_header" .}}
<!--jumbotron image-->
<div class="index-image">
    <div class="upper-shadow"></div>
    <img src="./img/index.jpg" class="img-fluid">
    <div class="lower-shadow"></div>
</div>

<!--content-->
<div class="container">

    <!--autobiography-->
    <div class="row padding-block">
        <div class="col-12">
            <div class="text-center"><h2>Autobiography</h2></div>
            {{range .Autobiography}}
            <blockquote class="blockquote">
                &emsp;&emsp;{{.}}
            </blockquote>
            {{end}}
        </div>
    </div>
    <div class="d-flex align-items-center">
        <hr class="flex-grow-1">
        <a href="./about.html">
            <div class="text-center more-button flex-grow-0"></div>
        </a>
        <hr class="flex-grow-1">
    </div>

    <!--project-->
    <div class="row padding-block">
        <div class="col-12">
            <div class="text-center"><h2>Work Projects</h2></div>
        </div>
        {{range $Project := .Projects}}
        <div class="col-6 col-md-3 project">
            <a href="./project_{{$Project.Id}}.html">
                <img class="img-fluid" src="{{$Project.Image}}"/>
                <div class="hover-div justify-content-center">
                    <div class="text-center">
                        <h4>{{$Project.Title}}</h4>
                        <p>{{$Project.Content}}</p>
                    </div>
                </div>
            </a>
        </div>
        {{end}}
    </div>
    <hr>

    <!--conference-->
    <div class="row padding-block">
        <div class="col-12">
            <div class="text-center"><h2>Conference</h2></div>
        </div>
        {{range $Conference := .Conferences}}
        <div class="col-12 project">
            <a target="_blank" href="{{$Conference.Link}}">
                <div class="card text-white bg-secondary col-12">
                    <div class="card-body">
                        <h5 class="card-title">{{$Conference.Title}}</h5>
                        Authors: {{$Conference.Authors}}<br>
                        Published in: {{$Conference.Published}}<br>
                        Date of Conference: {{$Conference.Date}}
                    </div>
                </div>
            </a>
        </div>
        {{end}}
    </div>
    <hr>

    <!--skill-->
    <div class="row padding-block">
        <div class="col-12">
            <div class="text-center"><h2>Skill</h2></div>
        </div>
        {{range $Skill := .Skills}}
        <div class="col-6 col-md-2 project">
            <img class="img-fluid" src="{{$Skill.Image}}"/>
            <div class="hover-div justify-content-center">
                <div class="text-center">
                    <h4>{{$Skill.Title}}</h4>
                    <p>{{$Skill.Content}}</p>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    <hr>
</div>
{{template "_footer" .}}
