.footer {
    padding: 68px 0 60px;
    background-color: #1a1a1a;
}

.footer img {
    width: 120px;
}

.footer .col {
    text-align: right;
}

.footer a {
    color: #FFFFFF;
}

.footer blockquote {
    margin: 1rem 0;
    width: auto;
    max-width: 100%;
    font-size: 14px;
}
