.menu {
    padding-top: 50px;
    padding-bottom: 50px;
}

.menu > .col {
    padding: 0px;
}

.menu img {
    width: 72%;
}

.menu a {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    opacity: .6;
}

.menu a:after {
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 0;
    height: 1.5px;
    content: "";
    display: block;
    background: #FFFFFF;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.menu a:hover {
    opacity: 1;
}
.menu a:hover:after {
    width: 100%;
    left: 0;
}
