.project {
    padding: 15px;
    position: relative;
}

.project h4 {
    color: #FFFFFF;
}

.project p {
    color: #FFFFFF;
}

.project .hover-div {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    transform: translate(0%, -50%);
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 1;
    transition: all .5s ease;
    backface-visibility: hidden;
}

.project:hover img {
    filter: blur(1px);
    opacity: 0.3;
}

.project:hover .hover-div {
    opacity: 1;
}

.carousel-inner{
    height:800px;
}

#carousel img {
    width: 100%;
    height: 800px;
    object-fit: contain;
}

@media (max-width:960px) {
    .carousel-inner{
        height: 60vh;
    }

    #carousel img {
        width: 100%;
        height: 60vh;
        object-fit: contain;
    }

    .project_title {
        padding-top: 10vh;
    }

    .project img {
        filter: blur(1px);
        opacity: 0.3;
    }
    
    .project .hover-div {
        opacity: 1;
    }
}
